body{
    background-color: brown;}
    h1{color: yellow;
        text-align:center;
    font-family: cursive;
    border-radius:12px;}
    h1:hover{background-color: aqua;
    font-size: 20px;}
    .parastyles{font-family: cursive;
        font-size: 20px;
    color:blue}
